<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puroong.ssuciety">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FacebookLoginActivity"
            android:label="로그인"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.clublist.ClubListActivity"
            android:label="동아리 목록"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </activity>
        <activity
            android:name=".activities.MyScheduleActivity"
            android:label="일정 보기"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.ClubSubmitActivity"
            android:label="동아리 등록"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.manageclub.ManageClubActivity"
            android:label="동아리 관리"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.ClubUpdateActivity"
            android:label="동아리 수정"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.clubschedulemanage.ClubScheduleManageActivity"
            android:label="동아리 일정 관리"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ClubScheduleSubmitActivity"
            android:label="동아리 일정 추가"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.ClubScheduleUpdateActivity"
            android:label="동아리 일정 수정"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.ClubAdminTransferActivity"
            android:label="관리자 양도"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.clubinfo.Clubinfomation"
            android:label="동아리 정보"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.managepic.ManagePic"
            android:label="활동사진 관리" />
        <activity
            android:name=".activities.managepic.SelectPic"
            android:label="활동사진 추가" />
        <activity android:name=".activities.managepic.UpdatePic"></activity>
        <activity android:name=".profile_modified" />
        <activity android:name=".profile_see" />
    </application>

</manifest>